[submodule "libvncserver"]
	path = libvncserver
	url = https://github.com/LibVNC/libvncserver
[submodule "boost-preprocessor"]
	path = boost-preprocessor
	url = https://github.com/boostorg/preprocessor
