[submodule "libvncserver"]
	path = vendor/libvncserver
	url = https://github.com/LibVNC/libvncserver
[submodule "boost-preprocessor"]
	path = vendor/boost-preprocessor
	url = https://github.com/boostorg/preprocessor
